---

---

<figure>
  <div class="*:max-h-fit *:object-contain flex justify-center w-full pb-1">
    <slot name="figure" />
  </div>
  <figcaption class="text-center">
    <slot name="caption" />
  </figcaption>
</figure>
