---
import { Icon } from "astro-icon/components";
import type { Link } from "../../types/types";

interface Props {
  links: Link[];
}

const { links } = Astro.props;
---

<div class="flex flex-row flex-wrap justify-center gap-4">
  {
    links.map((link) => (
      <a
        href={link.url}
        target="_blank"
        class="btn btn-lg btn-neutral rounded-full"
      >
        {link.icon && <Icon name={link.icon} />}
        <span>{link.name}</span>
      </a>
    ))
  }
</div>