@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
  logs: false;
}
@plugin "@tailwindcss/typography";

.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}